<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <video controls src="/yt/v/<%= id %>" height=500></video>
    <p>なぜかシークバー効かないので飛ばしながら見たい人はダウンロードをお勧めします。</br>ダウンロードは<a href="/yt/v/<%= id %>">こ↑こ↓</a></p>
</body>
</html>